* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 500px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

#list-selector,
#list-name,
#task-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#new-list-btn,
#delete-list-btn {
    background-color: #00D8A7;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px 0;
}

#delete-list-btn {
    background-color: #FF6262;
}

#new-list-btn:hover {
    background-color: #00d8a68a;
}

#delete-list-btn:hover {
    background-color: #ff62627b;
}

#add-task-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px; 
    margin-bottom: 10px; 
    width: 100%;
}

#add-task-btn:hover {
    background-color: #2a86e987;
}

#clear-completed-btn {
    background-color: #afafaf;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    width: 100%;
}

#clear-completed-btn:hover {
    background-color: #ffb800;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.button-container button {
    width: 48%;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    border: 1px solid #ccc;
}

li .task-text {
    flex: 1;
    margin-right: 20px;
    margin-left: 10px;
}

li .icons {
    display: flex;
    gap: 10px; 
}

li .icons svg {
    cursor: pointer;
    transition: stroke 0.3s ease;
}

.edit-icon {
    stroke: #afafaf; 
}

.edit-icon:hover {
    stroke: #00D8A7; 
}

.delete-icon {
    stroke: #afafaf; 
}

.delete-icon:hover {
    stroke: #FF6262; 
}

.completed {
    text-decoration: line-through;
    color: #999;
}

@media (max-width: 600px) {
    .container {
        width: 90%;
    }

    .button-container button {
        width: 100%;
        margin-bottom: 10px;
    }

    #add-task-btn,
    #clear-completed-btn {
        width: 100%;
    }
}
